* {
    font-family:'Courier New', Courier, monospace;
    

}

html {
    background-color: black;
    color: rgb(255, 192, 110);
    margin: 0;
}

body {
    margin: 0;
    background-color: black;
    display:flex;
    justify-content: center;
    min-height:100vh;
    background: linear-gradient(135deg, rgb(37, 20, 0) 0%, rgb(8, 0, 27) 100%);
}

.mobile-font-size {
    font-size: 2em;
}

.mobile-font-size select {
    font-size: 1em;
}

.mobile-font-size button {
    font-size: 1em;
}

.mobile-font-size input {
    font-size: 1em;
}

.mobile-font-size input[type=number] {
    font-size: 1em;
  }

main {
    background-color: rgb(55,51,51);
    margin-top:5%;
    margin-bottom:5%;
    padding: 0.5em 3em;
    width: fit-content;
    height:fit-content;
    border-radius: 1em;
}

h1 {
    text-shadow: 0.05em 0.05em rgba(0,0,0,0.1);
    width:fit-content;
    color: rgb(253, 202, 135);
}

h2 {
    width:fit-content;
    color: rgb(255, 192, 110);
}

h3 {
    color: rgb(253, 202, 135);
    margin-top:0.75m;
    margin-bottom:0.55em;
    letter-spacing: 0.05em;
}

hr {
    margin: 1.5em 0;
}

table {
    background-color:  rgb(91,89,89);
    border-radius:0.25em;
    padding: 0.5em;
    min-width:77%;
}

th {
    padding:0;
    margin:0;
    text-align:left;
}

#result {
    background-color: rgb(91,89,89);
    padding: 0.5em 1em;
    margin-bottom:0.25em;
    border-radius: 1em;
    text-align: center;
    width: 20.5em;
}

.not-sworn {
    color:white;
    background-color:  rgb(91,89,89);

}

.redsworn {
    font-weight: bold;
    color:rgb(255, 95, 95);
}

.bluesworn {
    font-weight: bold;
    color:rgb(78, 202, 252);
}

.blacksworn {
    font-weight: bolder;
    background-color: black;
    color:white;
    padding: 0 0.25em;
}

.displayed {
    display: block;
}

.hidden {
    display: none;
}

.width60 {
    width: 60%;
}

.width80 {
    width: 80%;
}

#prioritise-1-column-header {
    text-align:center;
}

#prioritise-2-column-header {
    text-align:center;
}

#prioritise-secondary {
    filter: hue-rotate(290deg);
}

label {
    user-select: none;
}

ul {
    list-style-type: none;
    padding-left:0;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

li {
    padding:0.25em 1em 0.25em 0.5em;
    text-align: center;
    color: rgb(255, 192, 110);
    white-space-collapse: collapse;
}

#num-votes-output {
    text-align:right;
    margin-top:0.5em;
}

#sworn-rank-label {
    text-transform: capitalize;
}